.random-planet.jumbotron {
  display: flex;
  margin-top: 2em;
  padding: 1em;
}
.random-planet .planet-image {
  width: 10%;
  height: 10%;
  border-radius: 0.7em;
  margin-right: 1em;
}
.random-planet .list-group-item {
  padding: .5em;
}
.random-planet .list-group-item .term {
  margin-right: .7em;
}
